.form-group {

    & > select {
        width: 100%;
        padding: 12px 5px;
    }
    & > select {
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 100%;
    }
    & > select:focus {
        border: 1px solid #0d6efd;
        outline: #0d6efd;
    }
}